.header1 {
    color: brown;
}

.table {
    width: 50%;
    height: 50%;
    background-color: aquamarine;
    border: 1px solid black;

}
.tr1{
    border: 1px solid black;
    align-items: center;
}
.img{
    z-index: -1;
    opacity: 0.2;
}